// http://colorschemedesigner.com/#3R32mo4nZw0w0 for colors.
body {
background: url('img/noise.png') #2C3D82;
color: #efefef;
font-family: 'Ubuntu', sans-serif;
max-width: 16em;
}

a {
color: #efefef;
}

#title {
margin: .5em 0em;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

#controller {
padding: .5em;
}

.button {
    position: relative;
    z-index: 9;
    display: inline-block;

    border: 1px solid #bbbbbb;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: .5em;
    background-image: -moz-linear-gradient(#eeeeff, #aaaacc);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    color: #111133;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.button-helper {
    background-color: rgba(223, 114, 97, 0.15);
    border-radius: 0.5em 0.5em 0.5em 0.5em;

    // All this stuff is because transitions don't work with gradients.
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    opacity: 0;

    -moz-transition-duration: 0.3s;
    -moz-transition-transition: opacity;

    .button:hover & {
        opacity: 1;
    }
}

#no-feedings {
display: none;
}

#feedings {
    border-radius: 15px;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 5px #222222;
    background-color: #EEEEFF;
    color: #111133;
    margin-top: 0.5em;
    margin-left: 0.5em;

    p {
        padding-left: 1em;
    }
}

#history {
list-style: none;
margin: 0;
padding: 0;
}

.feeding {
border-bottom: 1px solid #d0d0d0;
background: -moz-linear-gradient(top, #EEEEFF, #DDDDEE);
padding: .5em 1em;
}

.feeding:first-child {
border-radius: 15px 15px 0 0;
}

.feeding:last-child {
border-bottom: none;
border-radius: 0 0 15px 15px;
}

.date {
color: #666688;
}

.bigger {
background: url('img/up.png') no-repeat center;
display: inline-block;
width: 16px;
}

.smaller {
background: url('img/down.png') no-repeat center;
display: inline-block;
width: 16px;
}

.same {
display: inline-block;
margin-top: 4px;
width: 16px;
}

.form {
background-color: #eeeeff;
color: #111133;
padding: 1em;
}

.form a {
color: #111133;
}

