// http://colorschemedesigner.com/#3R32mo4nZw0w0 for colors.
$blue: #6174c1;
$green: #b2bc2f;
$light-grey: #e3e3e3;
$medium-grey: #bbb;
$pink: #df8f83;

html {
    height: 100%;
}

body {
background: url('img/noise.png') $light-grey;
color: darken($blue, 25%);
font-family: 'Ubuntu', sans-serif;
height: 100%;
margin: 0;
}

a {
color: #efefef;
}

// The wrapper is for the sticky footer.
#wrapper {
    min-height: 100%;
}

#header {
    background-color: $blue;
    background-image: -moz-linear-gradient(lighten($blue, 10%), $blue);
    border-bottom: 2px solid $green;
    border-radius: 0 0 0.5em 0.5em;
    color: $light-grey;
    padding: 0.25em;
    padding-left: 0.5em;
    text-align: center;

    h2 {
        margin: 0;
    }
}

#content {
    padding: 0 0.5em;
    // For sticky footer
    overflow: auto;
    padding-bottom: 50px;
}

#footer {
    background-color: $blue;
    background-image: -moz-linear-gradient(lighten($blue, 5%), $blue);
    border-top: 2px solid $green;
    border-radius: 0.5em 0.5em 0 0;
    color: $medium-grey;
    font-size: smaller;
    font-style: italic;
    text-align: center;

    // For sticky footer
    height: 50px - 2px;
    margin-top: -50px;
    clear:both;
}

#title {
margin: .5em 0em 0em 0em;
}

#controller {
padding: .5em 0;
}

.button {
    margin: 0.25em 0;
    width: 100%;
    position: relative;
    z-index: 9;
    display: inline-block;

    border: 1px solid #bbbbbb;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-size: large;
    padding: .5em 0;
    background-color: lighten($blue, 20%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    color: #111133;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

    -moz-transition-duration: 0.3s;
    -moz-transition-transition: background-color;

    &:hover {
        background-color: $pink;
    }
}

#no-feedings {
display: none;
}

@mixin content-box {
    border-radius: 15px;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 10px #999999;
    background-color: #EEEEFF;
    color: #111133;
    margin-top: 0.25em;
}

#feedings {
    @include content-box;
    margin-bottom: 1em;

    p {
        padding-left: 1em;
    }
}

#history {
list-style: none;
margin: 0;
padding: 0;
}

#history li {
    text-align: center;
}

.feeding {
border-bottom: 1px solid #d0d0d0;
background: -moz-linear-gradient(top, #EEEEFF, #DDDDEE);
padding: .5em 1em;
}

.feeding:first-child {
border-radius: 15px 15px 0 0;
}

.feeding:last-child {
border-bottom: none;
border-radius: 0 0 15px 15px;
}

.date {
color: #666688;
}

.bigger {
background: url('img/up.png') no-repeat center;
display: inline-block;
width: 16px;
}

.smaller {
background: url('img/down.png') no-repeat center;
display: inline-block;
width: 16px;
}

.same {
display: inline-block;
margin-top: 4px;
width: 16px;
}

.prefs {
    background: url('img/gear.png') no-repeat center;
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    text-decoration: none;
    margin-top: -0.5em;
    margin-left: 0.5em;
    height: 32px;
    width: 32px;

    -moz-transition-duration: 0.3s;
    -moz-transition-transition: border;

    &:hover {
        border: 1px solid lighten($blue, 15%);
        border-radius: 1em;
    }
}

.form {
    @include content-box;
    background-color: desaturate($blue, 5%);
    border-color: lighten($blue, 15%);
    color: $light-grey;
    padding: 0.5em;

    p {
        margin: 0.2em;
    }
}

.form a {
color: #111133;
}

