<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Feedm - Because you've got to. A tracking app for baby feedings</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' />
<link rel='stylesheet' href='feedm.css' />

<script src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js'></script>
<script data-main='feedm' src='require.js'></script>
</head>

<body>
    <h3 id='title'>Add a feeding</h3>
    <div id='controller'>
        <div id='buttons'>
            <a id='addNow' class='button' href='#'>Now</a> or
            <a id='addFrom' class='button' href='#'>From another time</a>
        </div>
    </div>
    <div id='feedings'>
        <p id='no-feedings'>You have not added any feedings.</p>
        <ul id='history'></ul>
    </div>
<script type='text/template' id='feeding-template'>
<span class='<%= relativeSize %>'>&nbsp;</span>
<%= oz %>oz at <%= time %> <span class='date'><%= date %></span>
</script>
<script type='text/template' id='now-template'>
<div class='form'>
<form>
<input type='radio' name='amount' id='2oz' value='2' /><label for='2oz'>2oz</label><br />
<input type='radio' name='amount' id='4oz' value='4' /><label for='4oz'>4oz</label><br />
</form>
<a class='add' href='#'>Add</a>
<a class='cancel' href='#'>Cancel</a>
</div>
</script>
</body>
</html>
